.container {
    width: 100%;
    background-color: $DarkBlue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;

    img {
        width: 600px;
    }

    div {
        margin-left: 80px;
        color: white;

        h2 {
            margin-bottom: 20px;
            font-size: 36px;
            font-weight: 100;
        }

        p {
            margin: 20px 0;
            line-height: 30px;
            text-align: justify;
            font-weight: 100;
        }
    }
}
