.container {
    width: 100%;
    background-color: $DarkBlue;
    height: 200px;
    display: flex;
    align-items: center;

    h2 {
        color: white;
        font-size: 44px;
        margin-left: 20%;
    }
}
