.container {
    max-width: 1440px;
    margin-top: 40px;
    width: 100%;
    align-items: center;
    padding: 40px;
    text-align: center;
    color: $DarkBlue;
    margin-left: 50%;
    transform: translate(-50%);

    h2 {
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: 100;
    }

    h3 {
        margin-bottom: 40px;
        font-weight: 400;
    }

    p {
        margin: 20px 0;
        line-height: 30px;
        text-align: center;
        font-weight: 100;
    }
}
