.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5) 100%,
            rgba(0, 0, 0, 0.5) 100%
        ),
        url("../../../images/cover-5.jpg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: bottom;
    background-size: cover;
    position: relative;

    h1 {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $White;
        font-family: righteous;
        font-size: 60px;
        letter-spacing: 2px;
    }

    .headerDesc {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: Source Code Pro;
        font-weight: 400;
        text-transform: uppercase;
        overflow: hidden;
        margin-left: 27px;
        white-space: nowrap;
        animation: typing 3.5s steps(40, end),
            blink-caret 0.75s step-end infinite;
        border-right: 2px solid $White;
        font-size: 15px;
        color: $White;
        letter-spacing: 3px;

        margin: 0 auto;

        @include respond-to("xs") {
            display: none;
        }

        @include respond-to("md") {
            display: block;
        }
    }
}

.description_mobile {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $SuperLightBlue;
    font-size: 12px;
    font-weight: 200;
    width: 350px;

    @include respond-to("xs") {
        display: block;
    }

    @include respond-to("md") {
        display: none;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 40%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: $White;
    }
}

// ServicesHeader

.elliptic {
    height: 450px;
    background-position: center;

    @include respond-to("xs") {
        border-bottom-left-radius: 100% 5%;
        border-bottom-right-radius: 100% 5%;
    }

    @include respond-to("md") {
        border-bottom-left-radius: 100% 15%;
        border-bottom-right-radius: 100% 15%;
    }

    h1 {
        position: relative;
        top: 60%;
        transform: translate(-50%);
    }
}
