.container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 50%;
    transform: translate(-50%);

    @include respond-to("xs") {
        padding: 5px;
    }

    @include respond-to("md") {
        padding: 50px 50px 30px 50px;
    }

    .imgLeft {
        width: 30%;
    }

    .imgRight {
        width: 30%;

        @include respond-to("xs") {
            margin-left: 10px;
        }

        @include respond-to("md") {
            margin-left: 60px;
        }
    }

    .flexColumn {
        margin-left: 100px;

        @include respond-to("xs") {
            margin-left: 20px;
        }

        @include respond-to("md") {
            margin-left: 100px;
        }

        h2 {
            font-size: 36px;
            font-weight: 100;

            @include respond-to("xs") {
                text-align: center;
                margin: 20px;
            }

            @include respond-to("md") {
                text-align: left;
                margin: 0px 0px 20px;
            }
        }

        p {
            line-height: 30px;
            font-weight: 100;

            @include respond-to("xs") {
                margin: 20px;
            }

            @include respond-to("md") {
                margin: 20px 0;
            }
        }

        .devSection {
            margin: 0 20px 20px 0;
        }

        ul {
            margin-left: 40px;
            line-height: 2em;
        }
    }
}
