.container {
  
}

.nav {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  
}

.logo {
  font-family: 'Wisdom Script Regular';
  font-size: 26px;
  color: #fed136;
  letter-spacing: 1.3px;
}

.menu {
  position: relative;
  list-style-type: none;
  padding-left: 0;
}

.list {
  display: inline-block;
  margin: 0 35px 0 0;
}

.link {
  display: flex;
  text-decoration: none; 
  text-transform: uppercase;
}