.container {
  width: 400px;
  height: 400px;
  align-items: center;
  padding: 40px;
  text-align: center;
  color: $DarkBlue;
  margin: 0 100px;

  h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 100;
  }

  p {
    margin: 20px 0;
    line-height: 30px;
    text-align: left;
    font-weight: 100;
  }

  ul {
    line-height: 25px;
    padding-left: 40px;
    text-align: left;
  }
}
