* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.job__card_main {
  width: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center; /* left and right */
  justify-items: center;
}

.icon {
  transform: translateY(20%);
}

@media screen and (max-width: 850px) {
  .job__card_main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .job__card {
    background-color: black;
    width: 100%;
    height: 40px;
    margin-top: 0.5rem !important;
  }
  .job__card_header {
    padding: 0.75rem 0.25rem;
    justify-content: space-between;
    display: flex;
  }
}

.job__card {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 375px;
  height: 300px;
  background-color: #ffffff;
  color: white;
  border-radius: 0.25rem;
  border: #c7c7c7 2px solid;
  margin: 0.5rem;
}

.card_button {
  background-color: transparent;
  padding: 8px 8px;
  border: none;
}

.card_button:hover {
  cursor: pointer;
}

.job__card_header {
  padding: 0.75rem 0.5rem;
  justify-content: space-between;
  display: flex;
}

.job__card_header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.job__card_main_section {
  height: 150px;
  width: 100%;
  display: block;
}

.job__card_footer {
  height: fit-content;
  display: block;
  justify-content: center;
}

.card_badges span {
  align-items: center;
  border-radius: 0.25rem;
  background-color: transparent;
  border: 2px solid #c7c7c7;
  padding: 0.3rem 0.4rem;
  margin: 1%;
}

.card_badges {
  display: flex;
  justify-content: center;
  color: black;
}

.card_title {
  color: black;
  font-size: 24px;
  text-align: center;
}

.custom_badge {
  padding: 0.5em 1em !important;
  font-size: 13px !important;
  background-color: #007bff;
  border-radius: 10rem;
}

.submit__button {
  padding: 10px 15px;
  margin: 15px;
  border: none;
  background-color: $DarkBlue;
  color: $White;
  border-radius: 6px;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, $LightBlue 50%, $DarkBlue 50%);
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  transition: background-position 1s;
}

.submit__button:hover {
  cursor: pointer;
  background-position: 0 -100%;
  transition: ease-in 0.2s;
}
